body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 16px;
  margin: 20px 0;
}

form {
  display: inline-flex;
  flex-direction: column;
  width: 300px;

  align-items: center;
}

label {
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  background-color: #f9f9f9;
}

.form-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.materia-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.materia-list li {
  display: inline-block;
  margin-right: 20px;
}

textarea {
  height: 100px;
  background-color: white;
  padding: 0;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}


input[type="number"],
input[type="submit"],
input[type="checkbox"] {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  text-align: center;
}

.enviar-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.enviar-btn:hover {
  background-color: #3e8e41;
}

.enviar-btn:active {
  transform: scale(0.9);
}